<form method="post" style="max-width: 400px; margin: 50px auto; font-family: sans-serif; border: 1px solid #ccc; padding: 20px;">
    {% csrf_token %}
    <h2>Мәліметтерді растау</h2>
    <p>ЖСН: <strong>{{ user.iin }}</strong></p>
    
    <label>Толық аты-жөніңіз:</label><br>
    <input type="text" name="full_name" value="{{ user.full_name }}" required style="width: 100%; padding: 8px; margin: 10px 0;">
    
    <label>Сыныбыңыз:</label><br>
    <select name="grade_id" style="width: 100%; padding: 10px; border-radius: 5px; margin-top: 5px;">
    <option value="">Сыныпты таңдаңыз...</option>
    {% for g in all_grades %}
        <option value="{{ g.id }}" {% if user.grade.id == g.id %}selected{% endif %}>
            {{ g.number }}"{{ g.letter }}" - {{ g.direction }}
        </option>
    {% endfor %}
</select>
    
    <button type="submit" style="width: 100%; padding: 10px; background: #28a745; color: white; border: none; cursor: pointer;">Сақтау және Тестке өту</button>
</form>